<div style='float:right; margin:5px'><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></div>
<div style='float:right; margin:5px'><%= link_to 'Comments', admin_comments_path %></div>
<div style='float:right; margin:5px'><%= link_to 'Yochats', admin_yochats_path %></div>
<div style='float:right; margin:5px'><%= link_to 'Users', admin_users_path %></div>

<h1>Welcome <%= current_user.username %>!</h1>
<h2>List of Comments</h2>

<table width='700px' style='box-shadow:5px 5px 20px #555'>
	<thead style='background-color:#88F; text-align: center'>
		<tr>
			<th>ID</th>
			<th>Yoker</th>
			<th>@</th>
			<th>conten</th>
			<th>time</th>
			<th>Mgmt.</th>
		</tr>
	</thead>
	<tbody style='background-color:#CCF'>
		<% @comments.each do |comment| %>
		<tr>
			<td><%= comment.id %></td>
			<td><%= comment.user.username %></td>
			<% if !comment.ater_id.nil? %>
				<td><%= User.find(comment.ater_id).username %></td>
			<% else %>
				<td>$nil$</td>
			<% end %>
			<td><%= simple_format(comment.content) %></td>
			<td><%= comment.created_at %></td>
			<td style='text-align:center'><%= link_to 'show', admin_comment_path(comment) %>&nbsp;&nbsp;<%= link_to 'edit', edit_admin_comment_path(comment) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<br/><br/>
<hr/>
<%= paginate @comments %>
