<div style='float: right; margin: 5px'><%= link_to 'private', private_yochats_path %></div>
<div style='float: right; margin: 5px'><%= link_to 'circle', circle_yochats_path %></div>
<div style='float: right; margin: 5px'><%= link_to 'zone', zone_yochats_path %></div>
<div style='float: right; margin: 5px'><%= link_to 'plaza', yochats_path %></div>
<div style='float: right; margin: 5px; margin-right:20px'><%= link_to 'Home', user_path(user) %></div>
<div style='float: right; margin: 5px'><%= link_to 'Add Yochat', new_yochat_path %></div>
