<% @yochats.each do |yochat| %>
    <div style='background-color: #CCF; margin:10px; padding: 7px; border-radius: 5px'>
        <div style='float: right'><%= yochat.created_at %></div>
        <strong><%= link_to yochat.user.username, user_path(yochat.user) %></strong>
        <% if user == yochat.user %>
            <div style='float:right; margin-right:20px; font-family:Calibri'><%= link_to yochat.share_with.upcase, edit_yochat_path(yochat) %></div>
        <% end %>
        <div style='font-family:Arial; padding-left: 15px'><%= simple_format(yochat.content) %></div>
        <div style='float:left; margin-right:30px'><%= link_to 'comments', yochat_path(yochat) %> <%= yochat.comments.count %></div>
        <div><%= link_to 'add comment', new_yochat_comment_path(yochat) %></div>
        <% if user == yochat.user %>
            <div><%= button_to 'Delete', yochat_path(yochat), :method => 'delete' %></div>
        <% end %>
    </div>
<% end %>
