<h1>Yochats</h1>
<% @yochats.each do |yochat| %>
	<div style='background-color: #DDF; margin:10px; padding: 10px; border-radius: 5px'>
		<p>user:&nbsp;<%= link_to yochat.user.username, user_path(yochat.user) %></p>
		<p>content:&nbsp;<%= simple_format(yochat.content) %></p>
		<p>time:&nbsp;<%= yochat.created_at %></li>
		<p>
			<%= link_to 'comments', yochat_path(yochat) %>&nbsp;
			<%= yochat.comments.count %>
		</p>
		<p>like:<%= yochat.like %></p>
		<% if @user == yochat.user %>
			<p><%= link_to 'share: ' + yochat.share_with, edit_yochat_path(yochat) %>&nbsp;&nbsp;
		<% end %>
		</p>
		<%= link_to 'add comment', new_yochat_comment_path(yochat) %>
		<% if @user == yochat.user %>
			<%= button_to 'Delete', yochat_path(yochat), :method => 'delete' %>
		<% end %>
	</div>
<% end %>
<hr/>
<%= link_to 'Add Yochat', new_yochat_path %>&nbsp;&nbsp;
<%= link_to 'Home', user_path(@user) %>
<hr/>
<%= paginate @yochats %>
