<div style='float:right; margin:5px'><%= link_to 'Back', yochats_path %></div>
<h1>YoChat</h1>

<div style='background-color: #CCF; margin:10px; padding: 7px; border-radius: 5px'>
    <div style='float: right'><%= @yochat.created_at %></div>
    <strong><%= @yochat.user.username %></strong>
    <% if @user == @yochat.user %>
        <div style='float:right; margin-right:20px; font-family:Calibri'><%= link_to @yochat.share_with.upcase, edit_yochat_path(@yochat) %></div>
    <% end %>
    <div style='font-family:Arial; padding-left: 15px'><%= simple_format(@yochat.content) %></div>
    <%= link_to 'add comment', new_yochat_comment_path(@yochat) %>
</div>
<hr/>

<% @comments.each do |comment| %>
    <div style='background-color: #FFC; margin:10px; margin-left:20px; padding: 7px; border-radius: 5px'>
        <div style='float: right'><%= comment.created_at %></div>
        <strong><%= comment.user.username %>
        <% if !comment.ater_id.nil? %>
            <% ater= User.find(comment.ater_id) %>
            @ <%= link_to ater.username, user_path(ater) %>
        <% end %>
        </strong>
        <div style='font-family:Arial; padding-left: 15px'><%= simple_format(comment.content) %></div>
        <%= link_to 'comment it', edit_yochat_comment_path(@yochat, comment.user) %>
        <% if @user == comment.user %>
            <%= button_to 'delete', yochat_comment_path(@yochat, comment), :method => 'delete' %>
        <% end %>
    </div>
<% end %>

<hr/>
<%= paginate @comments %>
