<h2><%=@user.username%></h2>

<ul>
  <li><%= @user.email %></li>
  <li><%= @user.encrypted_password %></li>
</ul>

<%= link_to 'Edit Account', edit_user_registration_path %>
<%= link_to 'Home', user_path(@user) %>
<%= link_to 'Log out', destroy_user_session_path, :method => 'delete' %>
