<div style='float:right'><%= link_to 'Home', user_path(current_user)%></div>
<h1>Messages</h1>
<% @messages.each do |message| %>
    <% if message.classes == 'comment' %>
        <div style='background-color: #FFC; margin:10px; padding: 7px; border-radius: 5px'>
            <% user = User.find(message.sender_id) %>
            <p>sender:&nbsp;<%= link_to user.username, user_path(user) %></p>
            <% yochat = Yochat.find_by_id(message.msg_id) %>
            <% if !yochat.nil? %>
                <strong>@your Comment: -> <%= link_to 'Yochat', yochat_path(yochat) %></strong>
            <% else %>
                <strong>@your Comment: -> Yochat not Found</strong>
            <% end %>
            <p>content:&nbsp;<%= simple_format(message.content) %></p>
            <p>time:&nbsp;<%= message.created_at %></p>
        </div>
    <% elsif message.classes == 'fans' %>
        <div style='background-color: #DFD; margin:10px; padding: 7px; border-radius: 5px'>
            <% user = User.find(message.sender_id) %>
            <p>sender:&nbsp;<%= link_to user.username, user_path(user) %></p>
            <strong>Add you as YoFriends</strong>
            <p>content:&nbsp;<%= simple_format(message.content) %></p>
            <p>time:&nbsp;<%= message.created_at %></p>
        </div>
    <% elsif message.classes == 'yochat' %>
        <div style='background-color: #DDF; margin:10px; padding: 7px; border-radius: 5px'>
            <% user = User.find(message.sender_id) %>
            <p>sender:&nbsp;<%= link_to user.username, user_path(user) %></p>
            <% yochat = Yochat.find_by_id(message.msg_id) %>
            <% if !yochat.nil? %>
                <strong>@your Yochat: -> &nbsp;<%= link_to 'Yochat', yochat_path(yochat) %></strong>
            <% else %>
                <strong>@your Yochat: -> Yochat not Found</strong>
            <% end %>
            <p>content:&nbsp;<%= simple_format(message.content) %></p>
            <p>time:&nbsp;<%= message.created_at %></p>
        </div>
    <% elsif message.classes == 'system' %>
        <div style='background-color: #FDD; margin:10px; padding: 7px; border-radius: 5px'>
            <p>sender:<strong style='color:red; margin-left:10px'>Admin</strong></p>
            <% if !message.msg_id.nil?%>
                <p>@your:&nbsp;<%= link_to 'Link', yochat_path(Yochat.find(message.msg_id)) %></p>
            <% end %>
            <p>content:&nbsp;<%= simple_format(message.content) %></p>
            <p>time:&nbsp;<%= message.created_at %></p>
        </div>
    <% end %>
<% end %>
<hr/>
<%= paginate @messages %>
