<div style='float:right; margin:5px'><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></div>
<div style='float:right; margin:5px'><%= link_to 'Comments', admin_comments_path %></div>
<div style='float:right; margin:5px'><%= link_to 'Yochats', admin_yochats_path %></div>
<div style='float:right; margin:5px'><%= link_to 'Users', admin_users_path %></div>

<h1>Welcome <%= current_user.username %>!</h1>
<h2>List of Users</h2>

<table width='700px' style='box-shadow:5px 5px 20px #555'>
	<thead style='background-color:#8F8; text-align: center'>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th width='300px'>Email</th>
			<th>Encrypted</th>
			<th colspan='2'>Mgmt.</th>
		</tr>
	</thead>
	<tbody style='background-color:#CFC'>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.username %></td>
			<td><%= user.email %></td>
			<td><%= user.encrypted_password %></td>
			<td style='text-align:center'><%= link_to 'show', admin_user_path(user) %></td>
			<td style='text-align:center'><%= button_to 'Delete', admin_user_path(user), :method => 'delete' %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<br/><br/>
<hr/>
<%= paginate @users %>
